<div>
  <H1>Porfolio</H1>
  <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis auismod semper.Praesent commodo cursusmagna, vel scelerisque nisl consectetur. Fusce dapibus, te llus ac cursus commodo</p>
  
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >

    <div class="col">
   
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

      <div class="card-body">
        <h4 style="color:#4296D7; margin-top: 20px;">Project Name</h4>
        <p class="card-text" style="margin-bottom: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vivierra euismod odio, gravida pallestesque urna varius vitae</p>
      </div>
    
  </div>

  <div class="col">
   
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

      <div class="card-body">
        <h4 style="color:#4296D7; margin-top: 20px;">Project Name</h4>
        <p class="card-text" style="margin-bottom: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vivierra euismod odio, gravida pallestesque urna varius vitae</p>
      </div>
    
  </div>

  <div class="col">
    
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

      <div class="card-body">
        <h4 style="color:#4296D7; margin-top: 20px;">Project Name</h4>
        <p class="card-text" style="margin-bottom: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vivierra euismod odio, gravida pallestesque urna varius vitae</p>
      </div>
    
  </div>
</div>